<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    style
        include  AboutUs.css
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mynerve&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="left">
            <img src="../static/logo.png">
            <span>Medica</span>
            <p>Hospital Lahore</p>
        </div>
        <div class="mid">
            <ul class="navbar">
                <li><a href="/home.pug">Home</a></li>
                <li><a href="/AboutUs.pug">About Us</a></li>
                <li><a href="/OurDoctors.pug">Our Doctors</a></li>
                <li><a href="/Appointment.pug">Appointment</a></li>
                <li><a href="/onlinereport.pug">Online Report</a></li>
            </ul>

        </div>
        <div class="right">
            <a href="/contactus.pug"><button class="btn" >Contact us</button></a>
        </div>
    </nav>
    <section>
        <img src="../static/img-3.png" alt="">
        <div class="box-1">
            <h2>Medica Group</h2>
            <p> Medica Hospital Lahore is wholly owned by the Medica Group (Medica). Medica is a global
            |    healthcare investment group and believes access to healthcare is a fundamental right for everyone. The
            |    Group invests in emerging markets to b|ring private, quality driven healthcare to meet the needs of local
            |    people. The Medica Group is leading the way in transforming the traditional healthcare model through
            |    its integrated cross-continents platform, its impact driven model and quality driven hospitals.
            </p>
            <p>
            |    The Medica Group has a comprehensive portfolio including 30 hospitals, 16 clinics and 82 diagnostic
            |    centres across South Asia and Africa.
            </p>
            <p>
            |    Its hospitals, clinics, and diagnostic centres fill local, quality healthcare capacity gaps and deliver
            |    significant societal and economic benefits by helping to create healthier populations, increasing
            |    employment, boosting local retention of professional expertise, and reversing outbound medical tourism
            |    trends and spending.
            </p>
            <p>
            |    Medica believes in its people and is proud to be the most diverse healthcare group in the countries it
            |    operates, with 11,000 employees working together to develop a systemic healthcare change in Africa and
            |    South Asia.
            </p>
            <p>
            |    Medica is wholly owned by the Medica Health Fund, a US$ 1 billion emerging markets healthcare fund
            |    managed by The Rise Fund, the impact investment platform of global alternative asset manager TPG
            |    Capital.
            </p>
        </div>
        <div class="box-2">
            <h2>Medica Hospital Lahore (MHL)</h2>
            <p>
            |    Evercare Hospital Lahore is a modern, state of the art, multi-disciplinary hospital located in Lahore,
            |    Pakistan. It is the Evercare Group's flagship hospital in Pakistan. Opened in 2019, this modern hospital
            |    encompasses a wide range of clinical services and specialties. The hospital offers a comprehensive range
            |    of high-quality clinical, diagnostic, and treatment services using the latest technology.
            </p>
            <p>
            |    As a wholly-owned Evercare Group hospital, we offer advanced levels of diagnosis and treatment, ensuring
            |    every patient receives the highest levels of international standard care. Our vision is to transform the
            |    quality of healthcare in Pakistan, and we are proud to be well on this journey.
            </p>
            <p>
            |    We are quality accredited by the Punjab Healthcare Commission and working towards the worldwide gold
            |    standard in hospital accreditation, Joint Commission International. We were the first LEED-Gold certfied
            |    hospital in Pakistan which is an indicator of energy efficiency and sustainability.
            </p>
            <p>
            |    We continue to develop our services in order to be the leading tertiary care hospital in Lahore.
            </p>
            <p>
            |    An expert team of 1000 skilled international hospital administrators, medical consultants and surgeons,
            |    well-trained nurses and paramedical staff oversee the entire patient journey in a clean, efficient, safe
            |    and caring environment. High-quality diagnostic facilities at Evercare Hospital Lahore, managed by
            |    Islamabad Diagnostic Centre (IDC), a partner company of the Evercare Group, which has been providing a
            |    wide array of quality diagnostic imaging and pathology services in Pakistan since 2004.
            </p>
        </div>
        <div class="box-3">
            <h2>Our Vision and Our Mission</h2>
            <p>
            |    Our Vision is to be the leading hospital in Lahore, Pakistan, transforming the quality of healthcare and impacting millions of people.
            </p>
            <p>
            |    Our Mission is to transform healthcare by providing trusted and effective healthcare services.
            </p>
        </div>
    </section>
</body>

</html>