<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    style
        include home.css
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mynerve&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="left">
            <img src="../static/logo.png">
            <span>Medica</span>
            <p>Hospital Lahore</p>
        </div>
        <div class="mid">
            <ul class="navbar">
                <li><a href="/home.pug">Home</a></li>
                <li><a href="/AboutUs.pug">About Us</a></li>
                <li><a href="/OurDoctors.pug">Our Doctors</a></li>
                <li><a href="/Appointment.pug">Appointment</a></li>
                <li><a href="/onlinereport.pug">Online Report</a></li>
            </ul>

        </div>
        <div class="right">
            <a href="/contactus.pug"><button class="btn">Contact us</button></a>
        </div>
    </nav>
    <section>
        <div class="container">
            <span>Caring for better life</span>
            <div id="box-1">
                | Setting the new standards of Healthcare in Pakistan
            </div>
            <a href="/Appointment.pug"><button class="btn" id="appoint">Take Appointment</button></a>
        </div>
    </section>
    <article>
        <div class="cont1">
            <h2>Medica Group</h2>
            <p>Medica Hospital Lahore is wholly owned by the Evercare Group (Evercare). Medica is a global healthcare
                | investment group and believes access to healthcare is a fundamental right for everyone. The Group
                | invests in emerging markets to bring private, quality driven healthcare to meet the needs of local
                | people. The Medica Group is leading the way in transforming the traditional healthcare model through
                its
                | integrated cross-continents platform, its impact driven model and quality driven hospitals.
            </p>
            <p> The Medica Group has a comprehensive portfolio including 30 hospitals, 16 clinics and 82 diagnostic
                | centres across South Asia and Africa.<a href="/AboutUs.pug">Read more</a>
            </p>
        </div>
        <div class="image1">
            <img src="../static/image-1.png">
        </div>
    </article>
    <article>
        <div class="cont2">
            <h2>Medica Hospital Lahore (MHL)</h2>
            <p>Medica Hospital Lahore is a modern, state of the art, multi-disciplinary hospital located in Lahore,
                | Pakistan. It is the Medica Group's flagship hospital in Pakistan. Opened in 2019, this modern hospital
                | encompasses a wide range of clinical services and specialties. The hospital offers a comprehensive
                range
                | of high-quality clinical, diagnostic, and treatment services using the latest technology.
            </p>
            <p> As a wholly-owned Medica Group hospital, we offer advanced levels of diagnosis and treatment, ensuring
                | every patient receives the highest levels of international standard care. Our vision is to transform
                the
                | quality of healthcare in Pakistan, and we are proud to be well on this journey.<a href="/AboutUs.pug">Read more</a>
            </p>
        </div>
        <div class="image2">
            <img src="../static/image-2.png" alt="">
        </div>
    </article>

    <section>
        <div class="cont3">
            <h2>How we can help?</h2>
            <form action="/" method="post" id="help">
                <div class="in-1">
                    <label for="name">Enter your Name</label>
                    <input type="text" name="name" class="name" id="name" placeholder="Your Name" required></input>
                </div>
                <div class="in-2">
                    <label for="email">Enter your Email Address</label>
                    <input type="email" name="email" class="name" id="email" placeholder="email@youremail.com" required></input>
                </div>
                <div class="in-3">
                    <label for="phone">Enter your Phone Number</label>
                    <input type="text" name="phone" class="name" id="phone" placeholder="(042)-456-789-910" required></input>
                </div>
                <div class="textarea">
                    <label for="message">Do you have any message for us?</label>
                    <textarea name="query" class="name" id="message" cols="30" rows="10" placeholder="Let us know how we can help..." required></textarea>
                </div>
                <button class="submitbtn">Send Your Message</button>
            </form>
        </div>
    </section>
    <footer>
        <div class="cont4">
            <div class="box-1">
                <span>Quick Links</span>
                <ul>
                    <li><a href="/AboutUs.pug">About Us</a></li>
                    <li><a href="/OurDoctors.pug">Our Doctors</a></li>
                    <li><a href="/Appointment.pug">Appointment</a></li>
                    <li><a href="/onlinereport.pug">Online Report</a></li>
                </ul>
            </div>
            <div class="box-2">
                <span>Contact Us</span>
                <ul>
                    <li id="li1">(042) 387-475-410</li>
                    <li id="li2">G-1 Block Falcon Colony GT Road Lahore, 54600</li>
                    <li id="li3">helpcenter@medica.com</li>
                </ul>
            </div>
            <div class="box-3">
                <span>Book an Appointment</span>
                <p>
                    | Call Now to book your slot with our experienced Doctors
                </p>
                <button>(042) 387-475-401</button>
            </div>
        </div>
        <div class="box-4">
            <p>Copyright &copy; 2023 All rights reserved</p>
        </div>
    </footer>
</body>

</html>



