<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Doctors</title>
    style
        include  OurDoctors.css
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Mynerve&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <nav>
        <div class="left">
            <img src="../static/logo.png">
            <span>Medica</span>
            <p>Hospital Lahore</p>
        </div>
        <div class="mid">
            <ul class="navbar">
                <li><a href="/home.pug">Home</a></li>
                <li><a href="/AboutUs.pug">About Us</a></li>
                <li><a href="/OurDoctors.pug">Our Doctors</a></li>
                <li><a href="/Appointment.pug">Appointment</a></li>
                <li><a href="/onlinereport.pug">Online Report</a></li>
            </ul>

        </div>
        <div class="right">
            <a href="/contactus.pug"><button class="btn">Contact us</button></a>
        </div>
    </nav>
    <section>
        <h2>Department of Cardiology</h2>
        <div class="container-1">

            <div id="box-1">
                <img src="../static/doctor.png" alt="">
                <p>Prof. Dr. Muhammad Ashraf Dar</p>
                <p> MBBS, Dip. In Cardiology, Doctor Of Medicine</p>
                <p> Consultant Electrophysiology Cardiologist</p>
                </img>
            </div>
            <div id="box-2">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Waqar Hasan</p>
                <p>MBBS, FCPS (Cardiology)</p>
                <p>Consultant Electrophysiology Cardiologist</p>
                </img>
            </div>
            <div id="box-3">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Ahsan Iqbal</p>
                <p>MBBS, FCPS (Cardiology)</p>
                <p>Consultant Interventional Cardiologist</p>
                </img>
            </div>
        </div>
        <hr>

        <h2>Department of Dermatology</h2>
        <div class="container-2">

            <div id="box-4">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Mansoor Haider</p>
                <p> MBBS, FCPS (Dermatology)</p>
                <p> Consultant Dermatologist</p>
                </img>
            </div>
            <div id="box-5">
                <img src="/../static/doctor.png" alt="">
                <p>Dr. Sarmad Malik</p>
                <p>MBBS, MCPS</p>
                <p>Consultant Dermatologist</p>
                </img>
            </div>
            <div id="box-6">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Shahbaz Ali</p>
                <p>MBBS, DM (Dermatology)</p>
                <p>Consultant Dermatologist</p>
                </img>
            </div>
        </div>
        <hr>

        <h2>Department of Pulmonology</h2>
        <div class="container-3">

            <div id="box-7">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Khawar Abbas Chaudhry</p>
                <p>MBBS, MRCP</p>
                <p>Consultant Pulmonologist</p>
                </img>
            </div>
            <div id="box-8">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Muhammad Hussain</p>
                <p>MBBS, FCPS (Medicine), FCPS (Pulmonology)</p>
                <p>Consultant Pulmonologist</p>
                </img>
            </div>
            <div id="box-9">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Shoaib Alam </p>
                <p>MBBS, Diplomate American Board</p>
                <p>Consultant Pulmonologist</p>
                </img>
            </div>
        </div>
        <hr>
        <h2>Department of Psychiatry</h2>
        <div class="container-4">

            <div id="box-10">
                <img src="../static/doctor.png" alt="">
                <p>Prof. Dr. Khalid Umar Gill</p>
                <p>MBBS, MRCPsych</p>
                <p>Consultant Psychiatrist</p>
                </img>
            </div>
            <div id="box-11">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Raheel Aziz</p>
                <p>MBBS, MRCPsych (UK), FRCPsych (UK)</p>
                <p>Consultant Psychiatrist</p>
                </img>
            </div>
            <div id="box-12">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Usman Amin Hotiana</p>
                <p>MBBS, FCPS (Psych)</p>
                <p>Consultant Psychiatrist</p>
                </img>
            </div>
        </div>
        <hr>
        <h2>Department of Neurology</h2>
        <div class="container-5">

            <div id="box-13">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Syed Ahmad Ali Hassan</p>
                <p>MBBS, MRCP(UK)</p>
                <p>Consultant Neurologist</p>
                </img>
            </div>
            <div id="box-14">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Adnan Tariq Mahmood </p>
                <p>MBBS, FCPS (Neurology)</p>
                <p>Consultant Neurologist</p>
                </img>
            </div>
            <div id="box-15">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Muhammad Moosa</p>
                <p>MBBS, MRCP (Neurology)</p>
                <p>Consultant Neurologist</p>
                </img>
            </div>
        </div>
        <hr>
        <h2>Department of Urology</h2>
        <div class="container-6">

            <div id="box-16">
                <img src="../static/doctor.png" alt="">
                <p>Prof. Dr. Muhammad Safdar Khan </p>
                <p>MBBS, FRCS, FCPS (Urology) </p>
                <p>Consultant Urologist</p>
                </img>
            </div>
            <div id="box-17">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Zubair Ahmad Cheema</p>
                <p>BSc. MBBS (KE), FRCS (Urol)</p>
                <p>Certification Of Completion Of Training - UK</p>
                <p>Consultant Urologist</p>
                </img>
            </div>
            <div id="box-18">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Nadir Hussain</p>
                <p>MBBS, MS (Urology) </p>
                <p>Consultant Urologist</p>
                </img>
            </div>
        </div>
        <hr>
        <h2>Department of Internal Medicine</h2>
        <div class="container-7">

            <div id="box-19">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Hafiz Abdul Rauf</p>
                <p>MBBS, FCPS, MRCP</p>
                <p>Consultant Physician</p>
                </img>
            </div>
            <div id="box-20">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Ahmed Nadeem</p>
                <p>MBBS, FCPS (Medicine)</p>
                <p>Consultant Physician</p>
                </img>
            </div>
            <div id="box-21">
                <img src="../static/doctor.png" alt="">
                <p>Dr. Fahad Aman khan</p>
                <p>MBBS, FCPS (Medicine), CHPE</p>
                <p>Consultant Internal Medicine</p>
                </img>
            </div>
        </div>
    </section>
</body>

</html>